.date-picker-x {
	background: #fff;
    box-sizing: content-box;
    color: #0c0c0c;
    display: none;
    font: 18px/1 Arial;
    border: 1px solid #EBEBEB;
    position: absolute;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 308px;
    z-index: 1;
}

.date-picker-x::before {
	border-color: #EBEBEB transparent;
	border-style: solid;
	border-width: 0 10px 10px;
	bottom: 100%;
	content: "";
	left: 20px;
	position: absolute;
}

.date-picker-x.active {
	display: block;
	margin-top: -20px;
}

.date-picker-x * {
	box-sizing: border-box;
}

.date-picker-x .dpx-title-box {
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #EBEBEB;
}

.date-picker-x .dpx-prev,
.date-picker-x .dpx-next {
	color: #29892c;
	cursor: pointer;
	display: block;
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	-webkit-transition: .2s;
	transition: .2s;
	width: 50px;
}

.date-picker-x .dpx-prev:hover,
.date-picker-x .dpx-next:hover {
	color: #29892c;
	font-weight: bolder;
}

.date-picker-x .dpx-title {
	display: block;
	font-size: 18px;
	line-height: 40px;
	padding: 0 10px;
}

.date-picker-x:not([data-dpx-type="year"]) .dpx-title {
	cursor: pointer;
}

.date-picker-x .dpx-content-box {
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 230px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.date-picker-x .dpx-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
}

.date-picker-x .dpx-btns .dpx-item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	height: 30px !important;
	background-color: #ccc;
}

.date-picker-x .dpx-item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 25%;
	flex: 1 0 25%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.date-picker-x .dpx-item:not(.dpx-weekday) {
	cursor: pointer;
}

.date-picker-x .dpx-item:not(.dpx-weekday):hover {
	font-weight: bolder;
}

.date-picker-x .dpx-weekday {
    height: 24px !important;
    border-bottom: 1px solid #EBEBEB;
    color: #878787;
}

.date-picker-x[data-dpx-type="day"] .dpx-item {
	-ms-flex-preferred-size: 44px;
	flex-basis: 44px;
	height: 36px;
}

.date-picker-x .dpx-current {
	box-shadow: inset 0 0 0 2px #29892c;
}

.date-picker-x .dpx-selected {
	background: #28AE4E;
}

.date-picker-x .dpx-weekend {
	color: #000;
}

.date-picker-x .dpx-out {
	color: #fff;
}

.date-picker-x .dpx-disabled {
	color: #c7bbbb !important;
	cursor: default !important;
	box-shadow: none !important;
}

.date-picker-x .dpx-disabled.dpx-current {
	box-shadow: inset 0 0 0 2px #66a3ff !important;
}


