.field {
    width: 100%; 
    float: left;
    margin: 0 0 20px;
}

.field input { 
    margin: 0 0 0 20px;
}

h3 span {
    background: #444; 
    color: #fff; 
    padding: 3px; 
}

pre { 
    background: #f4f4f4; 
}
/* Used for the Switch effect: */

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
    background: url('../img/switch.gif') repeat-x; 
    display: block; float: left; 
}

.cb-enable span, .cb-disable span {
    line-height: 30px; 
    display: block; 
    background-repeat: no-repeat; 
    font-weight: bold; 
}
.cb-enable span {
    background-position: left -90px; 
    padding: 0 10px; 
}
.cb-disable span { 
    background-position: right -180px;
    padding: 0 10px;
}

.cb-disable.selected {
   background-position: 0 -30px;
}
.cb-disable.selected span {
   background-position: right -210px; 
   color: #fff; 
}
.cb-enable.selected {
   background-position: 0 -60px;
}
.cb-enable.selected span {
   background-position: left -150px; 
   color: #fff; 
}
.switch label {
   cursor: pointer; 
}

.slider-setting-panel{
    border: 3px solid #8acaea;
    padding: 0 0 0 30px;
}
.panel-head{
    background-color: #16c4d8;
    width: 1000px;
    text-align: center;
    height: 20px;
}
