/*Slider CSS*/
*{
  margin:0;
  padding:0;
}

.ek-slider{
  max-width: 100vw;
  height:600px;
  position:relative;
  /*overflow:hidden;*/
  /*padding:3px;*/
}
.slide{
  position:absolute;
  max-width: 100vw;
  height:400px;
}