.form-fields {
	background-color: $grey;
	color: $darkGrey;
	font-size: 0.8em;
	font-style: italic;
	border:none;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 0;
	margin: 10px;
	display: inline-block;
	&:focus {
		background-color: $white;
		border: 1px solid $darkGrey;
		color: $carbonBlack;
		outline: none;
	}
	&.form-full-width {
		margin: 9px 0;
		// padding: 10px 10px;	
	}
}

