.contact-section {
  min-height: calc(100vh - 160px);
  width: 100%;
  
  .contact-left {
    width: 50%;
    float: left;
    .google-maps {
      background-color: $grey;
      width: 100%;
      height: 338px;
    }
  }   

  .contact-right {
    width: 45%;
    float: right;
  }
}
@media screen and (max-width: 768px) {
  .contact-section .contact-left .google-maps{
    width: 90%;
    margin-left: 34px;
  }
  section.banner {
    margin-bottom: -80px;
  }
  .contact-section .contact-left .contact-title { 
      margin-top: -80px; 
  }
  .contact-section .contact-right .contact-title { 
      margin-top: -110px; 
  }

  .contact-section {
    width: 100%;
    margin-top: 18%;

    .contact-left {
      width: 90%;
      margin: 0 5% 5%;
    }

    .contact-right {
      width: 90%;
      margin: 0 5%;
    }
  }
} 
@media screen and (max-width:416px){
  /*span.blue-title {
    width: 90%;
    margin-top: -110px;
    margin-left: 30px;
  }*/
  .contact-section .contact-right  {
    .contact-title{
      width: 90%;
      margin-left: 30px;
      margin-top: -240px;
    }
  }
  .contact-section .contact-left  {
    .contact-title{
      margin-top: -55px;
      width: 90%;
      margin-left: 30px;
    }
   .google-maps {
      background-color: $grey;
      width: 90%;
      height: 338px;
      margin: 28px 0 140px 30px;
    }
  }

}
@media screen and (min-width:380px) and (max-width:412px){
  /*span.blue-title {
    width: 90%;
    margin-top: -110px;
    margin-left: 20px

  }*/
  .contact-section .contact-right  {
    .contact-title{
      width: 90%;
      margin-left: 14px;
    }
  }

  .contact-section .contact-left  {
    .contact-title{
      margin-top: -70px;
      width: 90%;
      margin-left: 20px;
    }
   .google-maps {
      background-color: $grey;
      width: 90%;
      height: 338px;
      margin: 28px 0 140px 20px;
    }
  }
}  
@media screen and (max-width:377px){
  /*span.blue-title {
    width: 90%;
    margin-top: -110px;
    margin-left: 30px
  }*/
  .contact-section .contact-right {
    .contact-title{
      margin-left: 30px;

    }
  }
  .contact-section .contact-left  {
    .contact-title{
      margin-top:55px;
      width: 90%;
      margin-top: -70px;
      margin-left: 30px
    }
   .google-maps {
      background-color: $grey;
      width: 90%;
      height: 338px;
      margin: 28px 0 140px 30px;
    }
  }

}
@media screen and(max-width:360px){
  /*span.blue-title {
    width: 100%;
    margin-left: 14px;       
  }*/
  .contact-section .contact-right  {
    .contact-title{
      margin-left: 14px;
      width: 90%;
      margin-top: -240px
     
    }
  }
  .contact-section .contact-left  {
    .contact-title{
      margin-top: -70px;
      margin-left: 14px;
    }
   .google-maps {
      background-color: $grey;
      width: 90%;
      height: 338px;
      margin: 28px 0 140px 14px;
    }
  }
}

@media screen and(max-width:320px){
  .contact-section .contact-left .contact-title {        
    margin-bottom: -15px;
    margin-top: -70px;
    margin-left: 14px; 
  }
  .contact-section .contact-right  {
    .contact-title{
      width: 90%;
      margin-left: 14px;
    }
  }
}