.date {
  font-size: 28px;
  font-weight: 800;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.event-box-maintitle {
	margin-left: 10px;
    border-bottom: 2px solid $ekGreen;
    display: inline-block;
    	
	h3,h2 {
		color: $ekGreen;
		margin: 10px 0 0;
	}
}

.event-box-subtitle {
	h4 {
		font-size: 0.9em;
		font-weight: 500;
		color: $ekGreen;
		margin: 10px 0 0 10px;
	}
}

.event-overview-intro {
    background: $grey;
    margin: 0px;
    margin-bottom: -120px;
    padding: 25px 0;
    max-width: 100%;
    height: auto;
}

.event-overview-box {
	width: 100%;
	background-color: $white;
	max-width: 61.25rem;
    margin: 0 auto;	
	
	.post-title-thumbnail {
		float: left;
	}

	.event-overview-rightbox {
	    float: left;
	    width: 60%;
	    height: 300px;
	    position: relative;		    
		
		.post-date {
			font-size: 0.7em;
		    text-transform: uppercase;
		    color: $darkGrey;
		    padding: 10px 0 0 20px;
		    float: left;
		}
		
		.author-text {
		    font-size: 0.7em;
		    text-transform: uppercase;
		    color: $darkGrey;
		    float: right;
		    padding: 10px 20px 0 0;
		}
	    
	    p {
	    	padding: 0 10px;
	    	font-size: 0.8em;
	    	margin-top: 1px;
		}
	}
}


.event-overview-leftbox {
	/*background: no-repeat center center/cover url(../img/business-man.png);*/
	height: 300px;
	width: 40%;
	position: relative;
	float: left;
	
	.date-month-container {
		position: absolute;
		bottom: 0;
			
		.number {
			@extend .date;
		    background-color: $ekGreen;
		    color: $white;
		    
		}
	
		.month {
		    @extend .date;
		    color: $ekGreen;
		    background-color: $whiteTrans;
		    
		    margin-left: -4px;
		}		
	}
}

@media screen and (max-width:768px){	
	.event-overview-box {
    	width: 90%;
    }

    .event-overview-intro {
   	    margin: 2% 5% -15%;
   	}
}

@media screen and (max-width: 415px){
	/*.event-box-maintitle {
		margin-bottom: 30px;
	}*/

	.event-overview-leftbox {         
   		height: 200px;
		width: 100%;

		.date-month-container{

			.number{
				padding: 2px 0 13px 10px;
				font-size: 28px;
				width:34px;
			}
			.month{
				font-size:20px;
				font-weight:600px;
				padding: 10px 0 13px;
			}
	    }
    }

	.event-overview-box .event-overview-rightbox {
		width: 100%;
	    height: 150px;
	}

	.event-overview-intro {
   	    margin: 3% 2% -15%;
   	}
}
@media screen and (min-width: 400px)and (max-width: 412px){
	.event-box-maintitle {
		margin-bottom: 30px;
	}

}


@media screen and (max-width: 360px){

  	.event-box-maintitle h2 h3{
  		font-size: 1em;
  	}

  	.event-overview-leftbox .date-month-container {
  		.number{
  			width:45px;
  		}
    	.month {
  			padding: 10px 10px 14px 10px;
  		} 
	} 
}

@media screen and (max-width: 375px){

  	.event-box-maintitle {  		
  		margin-left: 1px;  
	}

	.event-overview-leftbox .date-month-container{
		.number{
			width:45px;
		}
		.month {
	  		padding: 11px 10px 14px 10px;
	  		margin-left:-8px
	  	}
  	}
}