.title-bars {
	width: 100%;
	height: 40px;
	background-color: $grey;
	position: relative;
	margin-top: 14px;
	cursor: pointer;

	.bar-titles {
		font-weight: 800;
		padding: 8px 0 0 10px;
	}

	.icon--arrow__down {
		font-size: 0.5rem;
    	font-weight: lighter;
	}

	.arrow-down {
		background: $ekGreen;
	    color: $white;
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 40px;
	    width: 2.7rem;
	    text-indent: 0.9rem;
	    line-height: 2.700rem;  
	}	
}

.faq-content {  
    display: none;
    background-color: $white;
	position: relative;
	padding: 20px;
	border: 4px solid $grey;
	border-top: none;  

   &.show{
  		display: block;
    }
}  

.title-bars.active{
	background-color: $grey;
		
	.arrow-down{
		transform: rotate(180deg);
	}
}


.faq-section {
	margin-bottom: 50px;

	form button[type="submit"] {
	    margin-left: calc(100% - 12.6rem);
	}
}

@media screen and (max-width: 768px) and (min-width: 420px){
	.faq-section {
		max-width: 740px;
	}
	.title-bars{
		width: 90%;
		margin: 14px 5%;
	}  
    .faq-content {
    	padding: 30px;
    	margin: 14px 5%;

 		&.show{
  	 		margin-top: -14px;
  		}
	}
}

@media screen and (max-width: 415px){
	.title-bars{
		width: 90%;
		margin: 14px 20px;
	}
	.faq-content {
		margin: -14px 21px 0px 20px;
	}
}

@media screen and (max-width: 376px){
	.faq-content{
		margin-right: 16.4px;
	}
}

@media screen and (max-width: 320px){
	.title-bars{
		margin: 14px 16px;
	}
	.faq-content{
		margin: -14px 16px 0 16px;
	}
}