.iconCal {
   font-family: 'new-icomoon';
   content: '\e902';
   color: inherit;
   font-size: 20px;
   padding: 15px;
}
.select-cal{
	position: absolute;
	top: 7rem;width: 4em;
	height: 2.24rem;
	background: $ekRed;
	color: white;
	line-height: 2.3em;
	text-indent: .4375em;
	font-family: 'new-icomoon';
    content: '\e902';
    pointer-events: none;
}

.filter-section{
	height: auto;
	max-width:980px;
	margin: 0 auto;	
}

.form{
	border: 1px solid $ekRed;
	padding: 10px;
	background-color: $ekRed;
	position: relative;
	margin-bottom: 50px;

	h3{
		color: $ekRed;
		font-size: 1em;
		font-weight: 10px;
		text-transform: none;
	}
}

.filter-form input[type="text"]{
	width: 63%;
	position: relative;
	display: inline-block;
}

.select-field{
	width: 30%;
	position: relative;
	display: inline-block;

	select{
		width: 93%;
		background-image: none;
		margin-left: 30px;
	}

	&:before{    	
		background: $ekRed;
    	color: $white;
    	position: absolute;
		right: -0.5625rem;
		top: 0.625rem;
		height: 2.2rem;
		width: 3rem;
		text-indent: 1.0625rem;
		line-height: 2.2rem;
		font-size: 0.4375rem;
		font-weight: lighter;
		pointer-events: none;
    }
}

.input-field-filter{
	border:none;
	cursor:pointer;
	background: #ED3426;
	color: white;
	line-height: 2.16em;
	position: absolute;
	text-indent: .4375em;
	right: 22.13rem;
	top: 3.6rem;
	width: 3em;

	.icon--arrow_right:before{
		font-family: 'new-icomoon';
		content: '\e900';
		color: inherit;
		font-size: inherit;
	}
}

datepicker[type="text"] {
	width: 28%;
	&:before {
		content: '';
	}
		
	&:hover {
    	cursor:pointer;
   	}
}

.filter button[type="filter"] {
	bottom: 45px;
	margin-left: calc(78% - 1.5rem);
	position: relative;
	width: 21%;
	height: 35px;
}

.button{
	color: $ekRed;
	background-color: $ekRed;
	padding: 8px 15px;
	width: auto;
	border: 1px solid $ekBlue;
	outline: none;
	cursor: pointer;
	font-size: 0.8em;
	text-transform: uppercase;
	display: inline-block;
}

.icn-btn {		
	content: "\e900";
	width: 25px;
	height: 100%;
	margin: 0 0 0 20px;
	display: inline-block;
	font: normal normal 0.9em "new-icomoon", sans-serif;
	@include transition(all, 0.3s, linear);
		
	&.rotate {
	  	transform: rotate(180deg);  
		margin: 0 1.25rem 0 0;	 
		float: left;
	}
		
	&.arrow:after {
		content: "\e900";
	}

	&.calendar:after {
		content: "\e900";
	}

	&.arrow-down:after {
		content: "\e900";
	}
}

.real{
	display: inline-block;
	width: 45%;
	margin-right: -120px;
}

.select-calender{
	@extend .select-cal;
	right:22.6rem;	
	
	.icon--calendar{
		@extend .iconCal;
		
	}
}

.select-calendar{
	@extend .select-cal;
	right:40.9rem;

	.icon--calendar{
    	@extend .iconCal;
	}
}

@media screen and (max-width:1280px) {
	.input-field-filter{
		top: 2.4rem;
	}
	.select-calender{
		top: 5.8rem;
	}
	.select-calendar{
		top: 5.8rem;
	}
}

@media screen and (max-width:1024px) {
	.input-field-filter{
		top: 2.3rem;
		right: 22.13rem;
	}
	.select-calender{
		top: 5.8rem;
	}
	.select-calendar{
		top: 5.8rem;
	}
}

@media screen and (min-width: 416px) and (max-width:768px){
	
	.filter-section {
		width: 90%;
		margin: 2% 5%;		
	}
	
	form h3 {    
    	margin: 10px 40px;
    }

	form input[type="text"]{
		width: 50%;	
	}

	.select-field{
		width: 35%;
		margin-left: 70px;
	}

	.select-field select{
		margin:0px;
		width: 95%;
	}

	form input[type="date"] {
		width: 90%;
		margin: 1.2% 6%;
	}

	.filter button[type="filter"] {
		bottom: 52px;
		margin-left: 67.8%;
		width: 31.2%;
	}

	.input-field-filter{
		top: 59px;
    	right: 21rem;
	}

	.select-field:before {
    	right: 0%;
    	top: 0%;
    }

    .select-calendar {
    	top: 50%;
    	right: 75.2%;
    	width: 3em;

    	.icon--calendar {    
    		padding: 7px;
		}
    }

    .select-calender {
    	top: 50%;
    	right: 48.4%;
    	width: 3em;

    	.icon--calendar {    
    		padding: 7px;
		}
    }

    button.red .icn-btn{
    	margin-left: 20px;
    }
    form .button[type=filter]{
    	margin-left: calc(64% - 1.5rem);
   		width: 220px;
	}
}

@media screen and (min-width: 416px) and (max-width:768px){
	
	.filter-section {
		width: 90%;
		margin: 2% 5%;		
	}
	
	form h3 {    
    	margin: 10px 40px;
    }

	form input[type="text"]{
		width: 50%;	
	}

	form .select-field{
		width: 35%;
		margin-left: 70px;
	}

	.select-field select{
		margin:0px;
		width: 95%;
	}

	form input[type="date"] {
		width: 90%;
		margin: 1.2% 6%;
	}

	.filter button[type="filter"] {
		bottom: 52px;
		margin-left: 67.8%;
		width: 31.2%;
	}

	.input-field-filter{
		top: 59px;
    	right: 20rem;
	}

	.select-field:before {
    	right: 0%;
    	top: 0%;
    }

    .select-calendar {
    	top: 50%;
    	right: 75.2%;
    	width: 3em;

    	.icon--calendar {    
    		padding: 7px;
		}
    }

    .select-calender {
    	top: 50%;
    	right: 48.4%;
    	width: 3em;

    	.icon--calendar {    
    		padding: 7px;
		}
    }

    button.red .icn-btn{
    	margin-left: 20px;
    }
}

@media screen and (max-width:415px) {
	
	form{
		padding: 0;
		padding-bottom: 10px;	
	}
	.real{
		width: 100%;
		margin: 5px 1px;
	}

	.filter-section {
		width: 90%;
	}

	form input[type="text"]{
		width: 90%;
	}

	.select-field{
		width: 90%;
		margin: 2% 3%;
	}

	.select-field select{
		margin:0px;
		width: 95%;
	}

	form input[type="date"] {
		width: 43%;
    	margin-left: 3%;
    	margin-top: 1%;
	}

	.filter button[type="filter"] {
		bottom: 0;
    	margin-top: 1%;
    	margin-left: 3%;
    	width: 90%;
    	padding-left: 7px;
	}

	.input-field-filter{
		top: 47px;
    	right: 27px;
    	margin-top:inherit;
	}

	.select-field:before {
    	right: 0;
    	top: 0;
   		height: 35px;   
   	}

    .select-calendar {
    	top: 157px;
    	right: 6.3%;
    	width: 3em;

    	.icon--calendar{
    		padding:8px;
    	}    	
    }

    .select-calender {
    	top: 222px;
    	right: 6.3%;
    	width: 3em;

    	.icon--calendar{
    		padding:8px;
    	}
    }
    form button[type="filter"] {
		width: 90%;
		margin-left: 10px; 
		margin-top: -100px;
    }
    .icn-btn{
    	padding-left: 0px;
    }	
}

@media only screen and (max-width:375px){
	.input-field-filter{
		right: 22px;
		Margin-top:inherit;
	}
}

@media screen and (max-width: 321px){
	form input[type=date]{
		width: 93%;
	}
	.select-calendar{
		top: 154px;
		width: 3em;
		right: 6.4%;
	}
	.select-calender{
		top: 219px;
		width: 3em;
		right: 6.4%;
	}
	.input-field-filter{
   		right: 20px;
	}
	
	button.red .icn-btn{
		margin: 0px -5px 0px 30px;
	}
}