.container-guide {
	padding: 50px;

	form {
		width: 70%;
	}
}

.info-guide {
	color: $darkGrey;
	font-style: italic;
}

xmp {
	color: blue;
	font-weight: bold;
}
.container {
    height: auto;
    max-width: 61.25rem;
    margin: 0 auto;
    margin-top: 3.125rem;
}

/*Post items - Titles and Date*/
.post-date-thumbnail {
	/*background: no-repeat center center/cover url(../img/business-man.png);*/
	height: 170px;
	width: 40%;
	position: relative;
	float: left;

	.date-month-container {
		position: absolute;
		bottom: 0;
		.number {
			font-size: 23px;
		    font-weight: 800;
		    background-color: $ekGreen;
		    color: $white;
		    padding: 5px 10px 5px 10px;
		    display: inline-block;	
		}
		.month {
			font-size: 23px;
		    font-weight: 800;
		    color: $ekGreen;
		    background-color: $whiteTrans;
		    padding: 5px 10px 5px 10px;
		    display: inline-block;
		    margin-left: -4px;
		}		
	}
}

.post-title-thumbnail {
    /*background: no-repeat center center/cover url(../img/business-man.png);*/
    height: 170px;
    width: 40%;
    position: relative;
    .news-image{
		width: 100%;
		height: 100%;
	    }
	.title-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		.post-thumbnail-title{
			padding: 5px 15px;
			margin: 0;
			a {
			color: $white;
			font-size: 0.7em;
			margin: 0;
			}
		}
	}
	.green {
		background-color: $greenTrans;
		height: 40%;
	}
	.blue {
		background-color: $blueTrans;	
		padding: 0px 0 30px 20px;
		width: 95%;	
	}	
}

.post-item {
	width: 100%;
	background-color: $white;
	margin-bottom: 25px;
	position: relative;
	.post-title-thumbnail {
		float: left;
	}
	.content {
	    float: left;
	    width: 60%;
	    height: 170px;	
	    .post-author-container {
	    	margin: 0 0 30px 0;	
			.post-date {
				font-size: 0.7em;
			    text-transform: uppercase;
			    color: $darkGrey;
			    padding: 10px 0 0 11px;
			    float: left;
			}
			.author-text {
			    font-size: 0.7em;
			    text-transform: uppercase;
			    color: $darkGrey;
			    float: right;
			    padding: 10px 15px 0 0;
			}
		}
	    p {
	    	padding: 0 11px;
	    	font-size: 0.8em;
	    	margin-top: 10px 0 0;
		}
	}
}

.gradient-bg {
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(243,243,243,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(243,243,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(243,243,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-9 */
}

@media screen and (min-width: 416px) and (max-width:768px){	
	.post-item {
		width: 90%;
		margin: 2% 5%;
	}
	
	.post-title-thumbnail {
   		.blue{
    		width:93%;
    	}
	}
}	


@media screen and (max-width: 415px){
	.container {
		margin-top: 200px;
	}
	.post-title-thumbnail{
		width: 95%;
		margin-left: 2.5%;

		.blue{
			width: 95%;
		}
	}
	.post-item .content{
		width: 95%;
		margin-left: 2.5%;
		
	}
	.post-item .content p {
        font-size: 1em;
        margin-top: 10px;
   }
	.post-date-thumbnail{
		height: 200px;
    width: 95%;
    margin-left: 10px;
	}	
}	
@media screen and (max-width: 412px){
	.post-item .content p {
        font-size: 1em;
   }
}

@media screen and (max-width: 376px){
	.post-title-thumbnail .blue{
		width: 94.3%;
	}

	.post-item .content p {
        font-size: .9em;
   }
}

@media screen and (max-width: 360px){
	.post-item .content p {
        font-size: .9em;
        margin-top: 10px;
    }
}
@media screen and (max-width: 320px){
	.post-title-thumbnail .blue{
		width: 93.3%;
	}
}