/*// for the coundownpage*/

.home-section {
  background-image: url("../img/countdown-background.jpg");
  background-repeat: no-repeat;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	@media (min-width: 468px) {
	  min-height: calc(100vh - 80px);
	}

	.home-box {
	  width: 80vw;
	  padding: 1.5em;
	  background-color: rgba($black, .3);
		
	   @media (min-width: 968px) {
			width: 60vw;
		 }
	}

	.home-box__text {
		margin: 1.8em 0;
		text-align: center;

		 @media (min-width: 425px) {
			margin: 1.8em 0 1.8em 0;
		}
	}

	.home-box__countdown {
		margin: 0 0 2.5em 0;
	}

	.home-box__countdown-blocks {
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	  	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	    -webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	  	flex-wrap: wrap;
			
	    -webkit-justify-content: space-around;
	    -moz-justify-content: space-around;
	    -webkit-justify-content: space-around;
	    -ms-justify-content: space-around;
	  	justify-content: space-around;
	  	text-align: center;
	  	width: auto;

	  	.home-box__countdown-block {
			display: flex;
			flex-direction: column;
			margin: 0.5em;
		}

		.home-box__countdown-block p {
		  	font-weight: 700;
		  	border: 1px solid $white;
		  	font-size: 2.5em;
		  	margin: 0;
		  	height: 90px;
		  	width: 125px;
		  	line-height: 90px;
		}

		.home-box__countdown-block span{
		  	padding-bottom: 10px;
		  	font-size: 1.5em;
		  	font-weight: 200;
		  	width: 125px;
		}
	}
}

// homepage styling overwrites

.search--bar.menu--search-bar {
  width:calc(25% - 22px);
  margin-right: 25px;  
  background-image: url("../img/countdown-background.jpg");
}

main.home--main {
	position: relative;	
	.slider{
		min-height: 450px;
		max-height: 600px;
	}
}