.box{
  width: 35%;
  height: auto;
  display: inline-block;
}

.innovation-box {
  width: 100%;
  height: auto;
  margin: 45px 0 30px;

	.box-left {
	  	@extend .box;
		
		span {
			font-style: italic;
		}
	}

	.box-right {
	   	@extend .box;
	
		span {
		  	font-size: 13px;
		  	display: block;
		  	color: $darkGrey;
		  	padding: 4px 0;
	    }
	}
}