section {
	margin: 0 auto;
}

#news, #events {
	
	 .content--left {
	  width: calc(100% / 3 + 4px);
	  min-height: 200px;
	  display: inline-block;

		.event--image{
		  position: relative;

			&:after{
			  background: green;
			  bottom: 0;
			  height: 100px;
			  width: 100%;
			  content: "";
			}	
		}
	}	
	.content--right {
	  width: calc(100% / 3 * 2);
	  display: inline-block;
	}
}