.thumnail {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 1em;  
  padding: 10px;
  text-decoration: underline;
}

.the-sidebar {
  float: right;
}

.news-image {
  width: 100%;
  height: 100%;
}

.yellow-title {
  border-bottom: 2px solid orange;
  display: block;

 	 h3 {
      color: orange;
 	 }     
}

.icon-container {
  background-color: $grey;
  padding: 4%;
  margin-bottom:60px;

	.social-media-icon {
   	  text-decoration: none;
	  font-size: 23px;
	  padding-left: 15px;
	 
	    &.grey {
		  color: $darkGrey;
	    }

	    &.yellow {
		  color: orange;
		  }	
    }
}

.post-title-thumnail-sidebar {
  	height: 150px;
  	width: 257px;
  	position: relative;
  	margin: 15px 0 20px 25px;
	
 	.thumnail-title-sidebar {
	 	@extend .thumnail;
	    background-color: $blueTrans;		
		width:92.2%;
		opacity: 0.9;
	}
 	.thumnail-title0-sidebar {
		background-color: $greenTrans;
		width: 92%;
		@extend .thumnail;
	}

 	h2, a {
	    text-decoration: underline;
	    font-weight: 600;
	    color: $white;
      	&:hover {
    	  	text-decoration: none;
		}
	}
}

.post-item-sidebar {
  width: calc(5% - 42px);
  height: 210px;
}

.thumbnail-sidebar {
  float: left;
  position: relative;
}
.thumbnail-title0-sidebar {
  background: transparent;
  position: absolute;
  padding: 0;
  text-decoration: none;
  margin-top: 44px;
  	span {
	  	background: $whiteTrans;
	  	color: $ekGreen;
	  	display: block;
	  	float: left;
	  	padding: 10px;
	  	font-size: 1.3em;
	  	font-weight: 700;
	  	margin: 21px 0 0;
	}
	span:first-child {
		background: $greenTrans; 
		color: white;
	}
}
.thumbnail-title-sidebar {
  background: transparent;
  position: absolute;
  padding: 0;
  text-decoration: none;
  margin-top: -68px;

	span {
	  	background: $whiteTrans;
	  	color: $ekGreen;
	  	display: block;
	  	float: left;
	  	padding: 10px;
	  	font-size: 1.3em;
	  	font-weight: 700;
	  	margin: 21px 0 0;
	}
	span:first-child {
		background: $greenTrans; 
		color: white;
	}
}

sub {
	bottom: -0.5em;
	font-size: 0.9em;
	margin-left: 10px;
}

.thumbnail-sidebar {
	background: no-repeat center center/cover url(../img/mckenzie.png);
	width: 250px;
	height: 50%;
	margin: 18px 25px;
   .event-content {
		background-color: white;
		float: left;
		width: 240px;
		height: 55px;
		padding: 10px 0px 0 10px;
		margin-top: -4px;	
		h2, a {
			color: $ekGreen;
			font-size: 1.1em;
		}
	}
}

.block-title-events {
	display: block;
	border-bottom: 2px solid $ekGreen;
	margin: 48px 0 -18px;
}

.highlight-content-sidebar {
  max-width: 100vw;
  background: $grey;
  margin: 6% 0 5%;

	.block {
		margin: 0 20px 0 0;
		display: inline-block;

		span.block-title {
			position: relative;
			top: -24px;
			display: block;
			border-bottom: 2px solid $ekBlue;
			margin: 0 0 -20px 0;
			&.innovate{
			border-bottom: 2px solid $ekGreen;
		}
		}

	}
}

.latest-new {
	width: calc(110% - 30px);
	color: $ekBlue;
	&.innovation{
		color: $ekGreen;
	}


	h4 {
		/*color: $ekBlue;*/
		margin: 4px 0px;
		text-transform: uppercase;
		font-size: 0.9em;		
	}
}
@media only screen and (max-width: 500px) {
	
	.post-title-thumnail {
	  	max-width: 80vw;
	}
}

@media screen and (max-width:414px) {
	
	.the-sidebar {
	  display: none;
	}
}

@media screen and (max-width:412px) {
	
	.the-sidebar {
	  display: none;
	}
}

@media screen and (max-width:360px) {
	
	.the-sidebar {
	  display: none;
	}
}