@mixin transition($target, $duration, $style) {
	-webkit-transition: $target $duration $style;
	-moz-transition: $target $duration $style;
	-o-transition: $target $duration $style;
	transition: $target $duration $style;
}