@mixin btn-default($bgColor, $fontColor) {
	@include transition(background-color, 0.5s, ease);
	color: $fontColor;
	background-color: $bgColor;
	padding: 7px 15px;
	width: auto;
	border: 1px solid $bgColor;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
	display: inline-block;

	&.float-left {
		float: left;
		margin: 0;
	}
	&.float-right {
		float: right;
	}
	&:hover {
		background-color: $white;
		color: $bgColor;
		.icn-btn {  
	    	transform: translate(5px, 0);
	    	color: $bgColor;
		}
	}
	&:focus {
		background-color: lighten($bgColor, 15%);
	}
	.icn-btn {
		content: "\e900";
		width: 25px;
		height: 100%;
		margin: 0 0 0 20px;
		display: inline-block;
		font: normal normal 0.9em "new-icomoon", sans-serif;
		@include transition(all, 0.3s, linear);
		&.rotate {
		  	transform: rotate(180deg);  
			margin: 0 1.25rem 0 0;	 
			float: left;
		}
		
		&.arrow:after {
			content: "\e900";
		}
		&.calendar:after {
			content: "\e900";
		}
		&.arrow-down:after {
			content: "\e900";
		}
	}
}

.disabled{
	&.rotate {
	  transform: rotate(180deg); 
	}	
}
.survey-navigation {
    height: 32px;
    width: auto; 
    margin: 15px 0 48px 0; 
}

@media screen and (max-width: 450px) and (min-width: 300px){
 	button.blue .icn-btn {
        margin: 0 -50px 0 100px;
 	}  
}
