/*// color variables*/
$white: #ffffff;
$black: #000000;
$blue: #1DB7EB;

$ekRed: #ED3426;
$ekGreen: #28AE4E;
$ekBlue: #1AADE4;
$ekYellow: #FFAD00;

$grey: #EBEBEB;
$darkGrey: #878787;
$carbonBlack: #1D1D1B;

$whiteTrans: rgba(255, 255, 255, 0.7);
$blueTrans: rgba(26, 173, 228, 0.7);
$greenTrans: rgba(40, 174, 78, 0.7);

