body {
	width: 100%;
	font-size: 16px;
	margin: 100px 0 0 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.container {
    max-width: 980px;
    margin: 6px auto;    
}

.text-right {
	text-align: right;
    margin-left:20%;
}

section {
	position: relative;
    height: auto;
    max-width: 980px;
    margin: 0 auto;   
}

.clearfix {
	clear: both;
	&:after{
    	content: '';
		clear: both;
    }
}

#primary{
	min-height: 85vh;	
}