/*-----------------------------*\
 * typo
 *
 * This is a file about the typography.
\*-----------------------------*/

@import "https://fonts.googleapis.com/css?family=Roboto:200,300,400,700";
@font-face {

  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: 'new-icomoon';
  src:  url('../new-fonts/icomoon.eot');
  src:  url('../new-fonts/icomoon.eot') format('embedded-opentype'),
    url('../new-fonts/icomoon.ttf') format('truetype'),
    url('../new-fonts/icomoon.woff') format('woff'),
    url('../new-fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Required to load the correct font for the icons*/

.meta-info {
  text-transform: uppercase;
  color: $darkGrey;
  line-height: 0.4;
  font-size: 13px;
  margin-bottom: 20px;
}

.icon--arrow__right {
  &:before {
    font-family: 'new-icomoon';
    content: '\e900';
    color: inherit;
    font-size: inherit;
  }

  input[type="search"] {
    width: 100%;
    height: 35px;
  }
}

.icon--arrow__down {
  &:before {
    font-family: 'new-icomoon';
    content: '\e901';
    color: inherit;
    font-size: inherit;
  }
}

.icon--calendar {
  &:before {
    font-family: 'new-icomoon';
    content: '\e902';
    color: inherit;
    font-size: inherit;
  }
}

.icon--facebook {
  &:before {
    font-family: 'new-icomoon';
    content: '\e904';
    color: inherit;
    font-size: inherit;
  }
}

.icon--googleplus {
  &:before {
    font-family: 'new-icomoon';
    content: '\e906';
    color: inherit;
    font-size: inherit;
  }
}

.icon--twitter {
  &:before {
    font-family: 'new-icomoon';
    content: '\e908';
    color: inherit;
    font-size: inherit;
  }
}

.search-bar-autosuggest {
  right: 9.9%;
  position: fixed;
  margin-top: 18px;
  width: calc(16% - 22px);
  background: $white;
  width: 200px;

  datalist {
    display: block;
    position: absolute;
    width: 204px;
    border-top:none;

    a {
      text-decoration: none;
      margin: 0;
    }

    option {
    margin-top: 0;
    background: $white;
    padding-left: 10px;
    font-size: .9rem;
    color: #695d5d;
    }
  }
}

.search--bar {
  position: relative;
  width: calc(20% - 22px);
  display: inline-block;
  margin: 10px auto;

  input {
    @extend .form-fields;
    height: 30px;
    background-color: #EBEBEB;
    color: #878787;
    font-size: 0.8em;
    font-style: italic;
    border: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0;
    margin: 10px;
    display: inline-block;
    min-height: 36px;
  }

  &:before {
    position: absolute;
    top: .625rem;
    right: -0.625rem;
    width: 3em;
    height: 2.3rem;
    background: $ekRed;
    color: white;
    line-height: 2.3em;
    text-indent: .4375em;
  }
  &:hover:before {
    text-indent: .7em;
    transition: .5s all;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*For each title/link there are more specific settings per section (news, events, innovations), please look in Partials.*/
h1 {
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
}

.block-title {
  display: block;
  border-bottom: 2px solid $ekGreen;
  margin: 20px 0 20px 0;
}

.block-title-blue {
  border-bottom: 2px solid $ekBlue;
  color: $ekBlue;
}

.green-title {
  border-bottom: 2px solid $ekGreen;
  display: block;
  margin: 170px 0 15px 0;
  h3 {
    color: $ekGreen;
  }
}

.blue-title {
  border-bottom: 2px solid $ekBlue;
  display: block;
  margin: 70px 0 20px 0;
  h3 {
    color: $ekBlue;
    margin-top: 150px;
  }
}

.event-overview-title {
  border-bottom: 2px solid $ekGreen;
  display: block;
  margin: 0;
  h3 {
    color: $ekGreen;
  }
}

.blue-title-short {
  border-bottom: 2px solid $ekBlue;
  display: inline-block;
  margin: 0 0 20px 0;
  h2 {
    color: $ekBlue;
    margin: 30px 0 0;
  }
}

.green-title-short {
  border-bottom: 2px solid $ekGreen;
  display: inline-block;
  margin-top: 20px;
  h2 {
    color: $ekGreen;
    margin: 0;
  }
}

h3 {
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 0.9em;
  color: $ekGreen;
}

p {
  line-height: 1.6em;
  font-size: 1em;
  text-align: left;
}

a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
  margin: 10px;
  color: $white;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.text-right {
  text-align: right;
}
.meta-data-date {
  @extend .meta-info;
}
.meta-data-author {
  @extend .meta-info;
}
.font-size-single-page {
  font-size: 13px;
}
.blue-link {
  color: $ekBlue;
}
.green-link {
  color: $ekGreen;
}

@media screen and (min-width: 416px) and (max-width:768px) {
  span.event-overview-title{
    margin: 0 5%;
  }

  span.green-title {
    margin-left: 5%;
    margin-right: 5%;
  }

  span.blue-title {
    margin: 0 5%;
  }

  .search--bar {
    width: calc(26% - 22px);
  }
  .search-bar-autosuggest {
    width: 15.6%;
    right: 9.9%;
    datalist {
      width: 108%;
    }
  }
  .block-title {
    width: 90%;
    margin: 20px 5%;
  }

  span.blue-title {
    width: 90%;
    margin-top: 20px;
  }
  span.green-title {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 415px) {
  span.green-title {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 90px;
  }
  .block-title {
    width: 90%;
    margin: 20px 30px;
  }
  p {
    width: 90%;
    padding: 10px;
    margin-top: 40px;
  }
  .green-title-short {
    margin-left: 120px;
    width: 100px;
  }
  span.event-overview-title {
    margin-top: -80px;
    width:96%;
    margin-left: 8px;
  }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  span.blue-title {
    margin: -70px 14px 10px;
    width: 90%;
  }
  a {
    margin: auto;
  }
}

@media screen and ( max-width: 412px) {
  .green-title-short {
    margin-left: 120px;
    width: 100px;
  }
  .green-title h3 {
    color: #28AE4E;
    }

  .block-title {
    /*margin-top: 13%;*/
    margin-bottom: 0%;
    width: 90%;
    margin: 40px 14px;
  }
  }

@media screen and (max-width: 375px) {
 .block-title {
    margin-top: 13%;
    margin-bottom: -0%;
    margin-left: 30px;
  }
}

@media screen and ( max-width: 360px) {
  p {
    width: 325px;
    padding: 10px;
    margin-top: 30px;
  }
  .green-title-short {
    margin-left: 100px;
    width: 100px;
  }
  .block-title {
    margin-bottom: -8%;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
  }
}
@media screen and ( max-width: 320px) {
  p {
    width: 280px;
    font-size: 0.9em;
  }
  .green-title h3 {
    color: #28AE4E;
    margin-top: -10px;
  }
  span.green-title {
    font-size: 0.9em;
  }
  .meta-data-date {
    font-size: 11px;
  }
  .meta-data-author {
    font-size: 11px;
  }
  .green-title-short {
    font-size: 0.9em;
  }
}