/* Form wrapper styling */
.search-wrapper {
  width: 250px;
  margin: 20px 100px 50px auto;
  /* Form text input */
  &input {
    width: 200px;
    height: 20px;
    padding: 7px 5px;
    float: left;
    border: 0;
    background: #EEE;

    &:focus {
      outline: 0;
      background: #fff;
    }
  }
  /* Form submit button */
  .button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 34px;
    width: 72px;
    color: white;
    text-transform: uppercase;
    background: #D83C3C;
    &:hover {
      background: #e54040;
    }
    &:active, &:focus {
      background: #c42f2f;
      outline: 0;
    }
    &:hover, &:before {
      border-right-color: #e54040;
    }
    &:focus, &:before, &:active, &:before {
      border-right-color: #c42f2f;
    }
  }
}

.search-icon {
  width: 60%;
  height: auto;
  margin-top: 4%;
}

.button-right-float {
  margin-right: 15px;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.news-overview-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
}


