.footer {
  width: 100vw;
  height: 120px;
  margin-top: 170px;
  background: $grey;
  position: relative;

  .footer-copyright {
    float: left;
    margin: 12px 0 0 270px;
    .copyright-content {
      color: $darkGrey;
      font-size: 12px;
    }
  }
  .footer-logo {
    padding-left: 44%;
    transform: scale(0.8, 0.8);
  }

  .icons-container {
    float: right;
    padding: 0;
    margin: -40px 280px;
  }
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    .footer-copyright {
      margin: 12px 0 0 100px;
    }

    .icons-container {
      margin: -40px 110px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 170px;

    .footer-copyright {
      margin: 12px 0 0 90px;
    }
    .icons-container {
      margin: -40px 40px;
    }
  }
}

@media screen and (max-width: 415px) {
  .footer {
    height: 85px;
    position: relative;

    .footer-copyright {
      margin-left: 40px;
      margin-top: 5px;

      .copyright-content {
        font-size: 7.5px;
      }
    }

    .icons-container {
      margin-right: 73px;
      margin-top: -45px;
    }
  }
}

@media screen and (max-width: 375px) {
  .footer .icons-container {
    margin: -40px 60px 0 0;
  }
}

@media screen and (max-width: 360px) {
  .footer .icons-container {
    margin-top: -45px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    .footer-copyright {
      .copyright-content {
        font-size: 0.45em;
      }
      margin-left: 30px;
    }
    .icons-container {
      margin-top: -47px;
    }
  }
}