.slider, .banner {
  max-width: 100vw;
  margin-top: 0;
  margin-bottom: -45px;
  .container-img {
    width: 100%;
  }
  .slider_image {
    width: 100vw;
    height: 600px;
  }
  .banner_image {
    width: 100%;
    height: 300px;
    margin-left: -10px;
  }
  .quote-slider {
    width: 30%;
    position: absolute;
    bottom: -220px;
    right: 0;
    height: 100px;
    margin: -65px 0 0 0;
    padding: 50px 35px 35px;
    background: -webkit-linear-gradient(top, rgba(231, 56, 39, 0) 0%, rgba(237, 52, 38, 1) 34%);

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      color: $white;
      margin: 0 0 10px 0
    }

    p {
      text-align: left;
      font-style: italic;
      color: $white;
    }
  }
  .quote-banner {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    margin: -65px -17px 0 0;
    padding: 50px 35px 35px 35px;
    background: -webkit-linear-gradient(top, rgba(231, 56, 39, 0) 0%, rgba(16, 163, 61, 0.98) 34%);

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      color: $white;
      margin: 0 0 10px 0
    }

    p {
      text-align: left;
      font-style: italic;
      color: $white;
    }
  }
  .slider-controllers {
    margin: -50px 0 0 0;
    text-align: center;
    bottom: -190px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    span {
      width: 13px;
      height: 13px;
      background: $white;
      display: inline-block;
      margin: 10px;
      border-radius: 100%;
      &:hover {
        cursor: pointer;
        background: $ekRed;
      }
    }
  }
}

.news--overview__posts, .highlight-content {
  max-width: 100vw;
  background: $grey;
  .block {
    margin: 1px 20px 20px 20px;
    display: inline-block;
    span.block-title {
      position: relative;
      top: -41px;
      display: block;
    }
    .posts {
      margin-top: -40px;
    }
    h3 {
      margin: 4px 0;
      text-transform: uppercase;
      font-size: 0.9em;
    }
    .news-image {
      width: 100%;
      height: 100%;
    }
    .post-item {
      margin: 0 0 20px 0;
      .thumbnail {
        float: left;
        position: relative;
      }
      .content {
        padding: 20px;
        background: $white;
        float: left;
        box-sizing: border-box;
        span {
          font-size: 0.7em;
          text-transform: uppercase;
          color: $darkGrey;
          display: inline-block;
          padding: 9px;
        }
        p {
          font-size: 0.8em;
          text-align: left;
          margin: 10px 0 0 0;
        }
        h2, a {
          margin: 0;
          font-weight: 600;
        }
      }
      .thumbnail-title {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 1em;
        color: white;
        padding: 10px;
        text-decoration: underline;
        width: 90.4%;
      }
    }
    h2, a {
      text-decoration: underline;
      font-weight: 600;
      &:hover {
        text-decoration: none;
      }
    }
    button.home-btn {
      float: right;
      /*margin-top: 5px;*/
      margin-left: 50px;
      width: 220px;
    margin-top: -10px;

     //-webkit-margin-start:0;
    }
  }
  .latest-news {
    width: calc(50% - 42px);

    @media only screen and (max-width: 750px) {
      width: calc(100% - 42px);
    }

    span.block-title {
      border-bottom: 2px solid $ekBlue;
    }
    h3 {
      color: $ekBlue;
    }
    .post-item {
      width: 100%;
      height: 161px;
      @media only screen and (max-width: 915px) {
        height: 178px;
      }

      .thumbnail-title {
        background: rgba(26, 173, 228, 0.7); //Blue
        width: 95.5%;
        height: 30%;
        h2, a {
          color: $white;
        }
      }
    }
    .thumbnail {

      width: 100%;
      height: 100%;

    }
    .content {
      width: 60%;
      height: 100%;
      overflow: hidden;
    }
  }

  .upcoming-events {
    width: 450px;
    position: absolute;

    @media only screen and (max-width: 750px) {
      width: calc(100% - 42px);
    }

    span.block-title {
      border-bottom: 2px solid $ekGreen;
    }
    h3 {
      color: $ekGreen;
    }
    .post-item {
      width: 100%;
      height: 161px;
      margin-top: 5px;

      .thumbnail-title {
        background: transparent;
        padding: 0;
        text-decoration: none;
        background-color: $ekGreen;
        height: 40%;
        width: 100%;
        span {
          background: rgba(255, 255, 255, 0.7); //White
          color: $ekGreen;
          display: block;
          float: left;
          padding: 10px;
          font-size: 1.3em;
          font-weight: 700;
        }
        span:first-child {
          background: rgba(40, 174, 78, 0.7); //Green
          color: white;
        }
      }
      .content {
        width: 100%;
        height: 65%;
        padding: 10px 15px;
        h2, a {
          color: $ekGreen;
          font-size: 1.1em;
        }
      }
    }
    .calendar {
      background: $white;
      height: 165px;
      width: 100%;
      margin: -20px 0 20px;
    }
    .thumbnail {
      background: no-repeat center center/cover url(../img/mckenzie.png);
      width: 100%;
      height: 100%;
      float: none;
    }

    @media only screen and (max-width: 750px) {
      .post-item {
        height: 180px;
        .content {
          height: 40%;
        }
        .thumbnail {
          height: 100%;
        }
      }
    }

  }
}

.companies {
  margin: 5% auto -90px;
  .link {
    margin: 0;
  }
  .com-logo {
    width: calc(100% / 4 - 43px);
    margin: 0 20px;
    display: inline-block;
    float: left;
    transform: scale(0.8);
  }
  .microsoft {
    margin-top: 40px;
  }
  .google {
    margin-top: 50px;
  }
  .oracle {
    margin-top: 70px;
    transform: scale(1);
  }
  .competa {
  }
}

.highlight-content {
  margin: 105px 0 5%;
  margin-right: -20px;
}

@media screen and (max-width: 1900px) {
  .banner .quote-banner {
    margin-right: 0;
  }
  .banner .banner_image, .slider .banner_image {
    width: 100%;
    /**transform: scale(1.1);**/
    object-fit: cover;
    /** image-rendering: auto;**/
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .highlight-content {
    .latest-news {
      width: calc(60% - 42px);
      margin-left: 15px;
      .content {
        margin-top: 0;
      }
      .post-item {
        .thumbnail-title {
          width: 95.2%;
        }
      }
    }
    .block {
      button.home-btn {
        margin-left: 20px;
      }
    }
    .upcoming-events {
      width: 250px;
      margin-left: 10px;
      .posts {
        margin-bottom: 5px;
      }
    }
  }
  .banner .quote-banner {
    margin-right: 0;
  }
  .companies {
    margin-left: 35px;
    margin-bottom: -80px;
    margin-top: 100px;
    .microsoft {
      margin-top: 30px;
    }
    .google {
      margin-top: 38px;
    }
    .oracle {
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 415px) {
  .slider {
    .slider_image {
      height: 300px;
      margin-top: -70px;
    }
    .slider-controllers {
      display: none;
    }
    .quote-slider {
      display: none;
    }
    .quote-banner {
      display: none;
    }
  }
  .banner .banner_image, .slider .banner_image {
    width: 100%;
    padding-left: 2%;
  }
  .banner .quote-banner, .slider .quote-banner {
    width: 41%;
    height: 5%;
    padding: 10%;
  }
  .banner .banner_image, .slider .banner_image {
    height: 200px;
    margin-left: -6px;
  }
  .banner .quote-banner h2, .slider .quote-banner h2 {
    display: none;
  }
  .banner .container-img, .slider .container-img {
    margin-top: 30%;
  }
  .highlight-content {
    margin-top: -350px;
    .latest-news {
      width: 94.5%;
      margin: 4px 0 0 10px;
      .post-item {
        height: 118px;

        .thumbnail-title {
          width: 94.7%;
        }

        .content {
          padding: 12px;
          padding-top: 2px;
          width: 57%;

          p {
            margin: 1%;
            padding: 0;
          }
        }
      }
    }
    .block {
      span.block-title {
        margin-bottom: 2%;
        width: 100%;
        margin-left: 0px;
      }
      button.home-btn {
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0;
        font-size: 1em;
        margin-top: 20px;
        .icn-btn {
          margin-left: 80px;
        }
      }
      .post-item .content span {
        padding: 1.6px;
        font-size: .5em;
      }
      .post-item .content span.author {
        text-align: left;
        margin-left: 10px;
      }
      .post-item .content p {
        font-size: .7em;
      }
    }
    .upcoming-events {
      margin: 50px 0 0 10px;
      position: relative;
      width: 93.5%;
      .post-item {
        display:block;
      }
      .calendar {
        margin: 0;
        margin-bottom: -5px;
      }
    }
  }
  .companies {
    margin-left: 25px;
    height: 20px;
    .com-logo {
      transform: scale(1.2);
    }
    .oracle {
      margin-top: 20px;
      transform: scale(1.4);
    }
    .google {
      margin-top: 17px;
    }
    .microsoft {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 376px) {
  .highlight-content {
    .latest-news {
      .post-item {
        height: 110px;

        .content p {
          font-size: 0.6em;
        }
        .thumbnail-title {
          width: 94%;
        }
      }
    }
    .block a {
      margin-left: 0;
    }
    .block .post-item .content span {
      font-size: 0.45em;
    }
    .block span.block-title {
      top: -33px;
      margin-bottom: 5%;
    }
    .block button.home-btn {
      /*padding-left: 80px;*/
      padding-top: 10px;
      .icn-btn {
        margin: 0 0 0 50px;
      }
    }
  }
  .block-title {
    margin-top: 13%;
    margin-bottom: 5%;
  }
  .companies {
    height: 10px;
    .oracle {
      margin-top: 17px;
      transform: scale(1.6);
    }
    .google {
      margin-top: 14px;
    }
    .microsoft {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .highlight-content .block button {
    height: 40px;
  }
  .companies {
    .com-logo {
      transform: scale(1.5);
    }
  }
  .highlight-content .latest-news {
    margin: 4px 0 0 10px
}
.highlight-content .upcoming-events {
    margin: 30px 0 0 10px;
}
}

@media screen and (max-width: 320px) {
  .highlight-content {
    margin-top: -355px;
    .latest-news .post-item {
      .thumbnail-title {
        width: 93.1%;
      }
      .content p {
        font-size: 0.55em;
      }
    }
  }
  .companies {
    margin-left: 25px;
    height: 5px;
    .com-logo {
      transform: scale(1.8);
    }
    .oracle {
      margin-top: 13px;
    }
    .google {
      margin-top: 11px;
    }
    .microsoft {
      margin-top: 9px;
    }
  }
}