.social-media-icons {
  text-decoration: none;
  font-size: 16px;
  padding-left: 1px;
  &.grey {
    color: $darkGrey;
  }
  &.yellow {
    color: $ekYellow;
  }
}

.footer-logo {
  width: 20%;
  height: 50px;
  padding-left: 50%;
  position: relative;
  bottom: 2px;
  &.grey {
    color: $darkGrey;
  }
}

@media only screen and (max-width: 415px) {
  .footer-logo {
    width: 38%;
    height: 50px;
    margin-top: 3px;
    bottom: 20px;
  }
  .big {
    transform: scale(0.5);
    color: $darkGrey;
    margin-top: -5px;
    margin-left: -50px;
    padding-left: 20%;
  }
  .social-media-icons.grey {
    padding: 4px;
    font-size: 12px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  .big {
    padding-left: 32%;
  }
}

@media screen and (max-width: 320px) {
  .big {
    transform: scale(0.45);
  }
}