.main-nav {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo {
    max-height: 60px;
    margin: 0 20%;
    width: 224px;
    height: 63px;
  }

  #nav-icon1 {
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
    top: 14px;
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 8px;
      width: 45px;
      background: $ekBlue;
      border-radius: 0px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 14px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 28px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .nav-menu {
    float: right;
    margin: 0 auto;

    img {
      width: 30px;
    }

    li a {
      width: calc(100% / 5 - 15px);
      text-transform: uppercase;
      color: $ekRed;
      margin: 0;
      text-decoration: none;
      font-size: 0.8em;
      padding: 15px;

      &:hover {
        color: $white;
        background-color: $ekRed;

      }
      &:active {
        color: $white;
        background-color: $ekRed;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-nav {
    .logo {
      margin: 0;
    }
    .nav-menu {
      margin: 0 -5%;
    }
  }
}

@media screen and (min-width: 416px) and (max-width: 768px) {
  .main-nav {
    width: 100%;
    .nav-menu {
      margin: 0 -12%;
    }
    .logo {
      margin: 0 -2%;
      width: 75%;
    }
    ul li {
      margin: 0 -2%;
    }
  }
}

@media screen and (max-width: 415px) {
  .search--bar {
    display: none;
  }

  .main-nav {
    display: block;
    position: absolute;
    height: 60px;

    .logo {
      margin-left: -8%;
      transform: scale(0.7, 0.7);
    }

    #nav-icon1 {
      display: block;
    }

    .nav-menu {
      float: none;
      background-color: $white;
      width: 100%;
      display: none;
      border-top: 4px solid $ekRed;
      padding-top: 10px;
      padding-bottom: 10px;;
      margin-left: 0
    }

    ul li {
      display: block;
      float: none;
      font-size: 30px;
      text-align: center;
      padding: 5px 0;
      width: 100%;
      margin: 0;

      a {
        font-weight: 500;
      }
    }

    ul li:hover {
      a {
        color: $white;
        padding: 0;
      }
      background-color: $ekRed;
    }

    ul li:active {
      a {
        color: $white;
        padding: 0;
      }
      background-color: $ekRed;
    }
  }
}

@media screen and (max-width: 375px) {
  .main-nav .logo {
    margin-left: -10%;
  }
}

@media screen and (max-width: 320px) {
  .main-nav {
    height: 50px;
    .logo {
      margin-left: -14%;
    }

    #nav-icon1 {
      right: 14px;
      span {
        height: 7px;
        width: 40px;
      }
    }
  }
}

