h3.news {
  a {
    color: $ekBlue;
  }
}

.news--overview {
  button {
    &[type="submit"] {
      margin-left: calc(100% - 12.6rem);
    }
    &.red {
      min-width: 15em;
    }
  }
}

.news--overview__posts {
  background: none;

  .latest-news {
    width: 100%;
    margin: 10;

    .post-item {
      .content {
        background: $grey;
      }
    }
    .thumbnail-title {
      width: calc(100% - 20px);
    }
    .thumbnail {
      width: 38%;
      margin-right: 2%;
    }
  }
}

.news--overview__filter {
  form {
    button[type="submit"] {
      display: inline-block;
      float: right;
      margin: 10px;
    }
  }
  .block-title {
    border-color: $ekBlue;
    h3 {
      color: $ekBlue;
    }
  }
}





