.single-page {
  height: auto;
  width: auto;
  .header-single-page {
    width: 100%;
    max-width: 980px;
    max-height: 400px;
  }
  .thumbnail-event-details {
    position: relative;
    width: 70%;
    height: auto;
    float: left;
    margin: -69px 0 0 0;
    .event-day {
      color: $white;
      display: block;
      float: left;
      padding: 10px 20px 9.4px;
      font-size: 2.5em;
      font-weight: 700;
      background: $ekGreen;
    }
    .event-month {
      color: $ekGreen;
      display: block;
      float: left;
      padding: 10px 20px;
      font-size: 2.5em;
      font-weight: 700;
      background: rgba(255, 255, 255, 0.7);
    }
  }
  .single-page-box {
    padding: 0;

    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    .flex-item {
    }
    .left {
      width: 65%;
      margin: 3px;
    }
    .right {
      width: 33%;
    }
    .meta-data-box {
      height: auto;
      width: auto;
      margin: 30px 0 25px;
    }
  }
}

@media screen and (max-width: 1024px) {
  button.blue.float-right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .flex-item {
  }
  .single-page {
    .single-page-box .left {
      width: 54%;
    }
    .single-page-box .right {
      width: 45%;
    }
    .header-single-page {
      width: 90%;
      margin: 0 5% 20px;
    }
  }
  .single-page-box {
    width: 90%;
    margin: 0 5%;
  }
  button.blue.float-right {
    margin-top: 20px;
    margin-left: 36px;
  }
  span.blue-title {
    margin: 60px 5% 10px;
  }
}

@media screen and (max-width: 414px) {
  .highlight-content-sidebar, .block-title-upcoming-events, .the-sidebar {
    display: none;
  }
  .blue-title-short {
   /* margin: -50px 0 20px 107px;*/
   width: 90% ;
  }
  button.blue {
    margin-top: 20px;
    width: 50%;
  }
  button.blue.float-right {
    margin-right: 10px;
    width: 375px;
  }
  .single-page {
    .single-page-box .left {
      width: 100%;
    }
    .header-single-page {
      width: 90%;
      margin-left: 20px;
    }
    .container {
      margin: -2.125rem auto 0;
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 732px) {
  .single-page {
    .header-single-page {
      width: 90%;
      /*margin-left: 15px;*/
    }
    .thumbnail-event-details {
      margin: -47px 15px 0;
    }
    .single-page-box .right {
      width: 90%;
      margin-left: -30px;
    }
    .thumbnail-event-details {
      .event-day {
        font-size: 1.3em;
      }
      .event-month {
        font-size: 1.3rem
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .blue-title-short {
    margin: -50px 10px 20px;
    width: 90%;
  }
  button.blue {
    margin-top: 20px;
    width: 50%;
  }
  .highlight-content-sidebar, .block-title-upcoming-events, .the-sidebar {
    display: none;
  }
  .single-page {
    .single-page-box .left {
      width: 100%;
    }
    .header-single-page {
      width: 90%;
      /*margin-left: 15px;*/
    }
    .container {
      margin: -2.125rem auto 0;
    }
  }
  span.blue-title {
    max-width: 90%;
    margin: -10px 5% 10px;
  }
  button.blue.float-right {
    margin-right: 6px;
    width: 370px;
  }
}

@media screen and (max-width: 375px) {
  button.blue.float-right{
    margin-right: -4px;
    width: 350px;
  }
  .single-page {
    .single-page-box .right {
      width: 100%;
      margin-left: 15px;
    }
    .thumbnail-event-details .event-day {
      font-size: 1.3em;
    }
    .thumbnail-event-details .event-month {
      font-size: 1.3rem
    }
    .thumbnail-event-details {
      margin: -47px 20px 0;
    }
    .header-single-page {
      margin-left: 20px;
    }
    .single-page-box .left {
      width: 100%;
    }
    .single-page .single-page-box .meta-data-box{
      margin-bottom: -70px;
    }
  }
  button.blue {
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
    .float-right {
      margin-right: 6px;
      width: 340px;
    }
  }
  .blue-title-short {
    margin: -50px 15px 20px;
    width: 90%;
  }
  .highlight-content-sidebar, .block-title-upcoming-events, .the-sidebar {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .single-page {
    .header-single-page {
      width: 90%;
      margin-left: 15px;
    }
    .container {
      margin: -2.125rem auto 0;
    }
    .single-page-box {
      .right {
        width: 100%;
        margin-left: 15px;
      }
      .meta-data-box {
        width: 200px;
        margin-bottom: -70px;
      }
    }
    .thumbnail-event-details {
      margin: -47px 15px 0;
      .event-day {
        font-size: 1.3em;
      }
      .event-month {
        font-size: 1.3rem
      }
    }
  }
  button.blue.float-right {
    margin-right: 6px;
    width: 326px;
  }
  span.blue-title {
    max-width: 90%;
    margin-left: 18px;
   /* padding-top: 15px;*/
  }
  .blue-title-short {
    margin: -50px 10px 20px;
    width: 90%
  }
  button.blue {
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  span.blue-title {
    margin: 3%;
    margin-left: 15px;
    /*padding-top: 5px;*/
  }
  .main-nav {
    height: 20px;
  }
  button.blue.float-right {
    margin-right: -3px;
    width: 300px;
  }
  .single-page {
    .container {
      margin-top: -1.5rem;
    }
    .header-single-page {
      width: 90%;
      /*margin-left: 40px;*/
    }
    .thumbnail-event-details {
      margin: -69px 40px 0;
    }
  }
  .blue-title-short {
    margin: -40px 10px 20px;
    font-size: 13px;
    width: 90%;
  }
}