	<footer class="footer">
		<div class="footer-copyright">
			<span class="copyright-content">Copyright Enterprise Kenya</span>
		</div>
		<div class="icons-container">
			<a href="#" class="icon--facebook footer-icon"></a>
			<a href="#" class="icon--twitter footer-icon"></a>
			<a href="#" class="icon--googleplus footer-icon"></a>
		</div>
	</footer>