	<nav class="main-nav">
		<img src="img/enterprise-kenya.svg" class="logo">
		<ul class="nav-menu">
			<li><a href="/news.html">news</a></li>
            <li><a href="/events.html">events</a></li>
            <li><a href="/faq.html">faq</a></li>
            <li><a href="/innovation.html">innovation</a></li>
            <li><a href="/contact.html">contact</a></li>
		</ul>
	</nav>