button {
&.red {
  @include btn-default($ekRed, $white);
  margin: 35px 0 0 50%;
  padding: 8px 10px 8px 7px;
  width: 50%;
}

&.blue {
  @include btn-default($ekBlue, $white);
  float: right;
}

&.green {
  @include btn-default($ekGreen, $white);
  margin-top: 20px;

    &.home-btn-events{
      margin-left: 265px;
    }

}

&.disabled {
  @include btn-default($darkGrey, $grey);
  &:hover, &:focus, &:active {
    background-color: $darkGrey;
    color: $grey;
    cursor: default;
    .icn-btn {
      transform: none;
      color: $grey;
      &.rotate {
        margin: 0 1.25rem 0 0;
        transform: rotate(180deg);
        float: left;
      }
    }

  }
 }
}

@media only screen and (max-width: 1280px) {
  /*Amazon Kindle Fire HDX 8.9 */
  button.red {
    margin-top: 5px;
    margin-left: 240px;
  }
}

@media screen and (max-width: 768px) {
  button{
  &.red {
    margin: 10px 0 10px 500px;
    
  }
  
  &.innovation-btn {
    /*width: 100%;*/
    margin-left: 0px;
  }

  &.blue {
    @include btn-default($ekBlue, $white);
    &.float-right {
      float: right;
    }
  }
 }
 button.green.home-btn-events {
    margin-left: 50px;
}
}
@media screen and (max-width: 415px) {
  button {
    &.blue {
    margin-bottom: 20px;
    margin-right: 25px;
    width: 35%;
    font-size: 0.8em;

    .icn-btn {
      margin: 0 0 0 15px;
      padding-left: 30px;
      float: right;
    }
  }

  &.innovation-btn {
    width: 100%;
    margin-left: 0px;
  }

  &.green.float-right {
    float: none;
    margin-left: 3px;
    margin-left: 1px;
    width: 100%;
  }
  &.red {
    margin-left: 30px;
    width: 90%;
  }
  &.green {
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
    width: 95%;
  }
}
button.green .icn-btn {
    margin: 0 -80px 0 90px;
    }
    button.green.home-btn-events {
    margin-left: 10px;
    width: 93%;
  }
}
@media screen and (min-width: 390px) and (max-width: 412px) {
  button {
    &.red {
    margin-left: 20px;
    /*width: 95%;*/
  }
}
}

@media screen and (max-width: 376px) {
  .highlight-content
  button {
    &.blue {
    font-size: 0.7em;
    .icn-btn {
      margin: 0 0 0 10px;
    }
  }
  &.red {
    margin-left: 30%;
    width: 90%;
  }
 }
 button.green .icn-btn {
    margin: 0 -70px 0 75px;
    }
}

@media screen and (max-width: 361px) {

  button {
  &.blue {
    padding-left: 10px;
  }
  .icn-btn {
    margin: 0 0 0 1px;
    padding-left: 30px;
    float: right;
  }
  &.green {
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 95%;
  }
  &.innovation-btn {
    width: 100%;
    margin-left: 0px;
  }

  &.red {
    margin: 10px 15px 10px 4px;
    width: 95%;
  }

  &.green.float-right {
    float: none;
    margin-left: 3px;
    width: 318.5px;
  }
}
button.green .icn-btn {
    margin: 0 -5px 0 50px;
    }
    button.green.home-btn-events {
    margin-left: 10px;
    width: 93%;
}
}

@media screen and (max-width: 321px) {
  button{
    &.blue {
    font-size: 0.58em;
    padding-left: 8px;
  }
  &.green.float-right {
    width: 280px;
  }
  &.red {
    margin-left: 3px;
    width: 97%;
  }
 }
 button.green .icn-btn {
    margin: 0 -5px 0 50px;
    }
}