//Generic form style
form {
  border: 1px solid $ekRed;
  padding: 10px;
  background-color: $white;
  position: relative;
  margin-bottom: 50px;
  input,
  select,
  textarea,
  option {
    min-height: 35px;
    &[placeholder] {
      color: $carbonBlack;
    }
  }

  input, textarea, select {
    @extend .form-fields;
    @include transition(all, 0.2s, linear);
  }
  
  &.innovation-form {
    border: 0px;
    padding: 0px;
    margin: 0 0 5px 0;
    .select--field.align-items {
      &:before {
        top: 1.3em;
        right: 0rem;
        z-index: 0;
        background: $ekGreen;
      }
    }
    .innovation-textarea {
      width: 100%;
      height: 125px;
      resize: none;
      padding: 10px 10px;
      margin: 9px 0 0;
    }
    .innovation-checkbox {
      width: 30px;
      height: 30px;
      margin: 20px 0;
      min-height: 0;
    }
    .checkbox-text {
      font-size: 12px;
      font-style: italic;
      color: $darkGrey;
      vertical-align: top;
      padding: 6px 0px 0px 5px;
      display: inline-block;
      margin-top: 18px;

    }
  }

  input[type="text"] {
    width: 63%;
    position: relative;
    &.form-full-width {
      width: 100%;
    }
    display: inline-block;
    .search-faq {
      position: relative;
      width: 100%;
    }
  }
  input[type="date"] {
    width: 30.8%;
    &:before {
      content: '';
    }
    &:hover {
      cursor: pointer;
    }
  }
  button[type="submit"] {
    float: right;
  }
  button[type="filter"] {
    bottom: 0;
    margin-left: calc(74% - 0.2rem);
    position: relative;
    width: 220px;
    height: 40px;
  }
  select {
    width: calc(40% - 22px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 70px 0 10px;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      border: none;
      color: $darkGrey;
    }
  }
  h3 {
    color: $ekRed;
    font-size: 1em;
    font-weight: 400;
    margin: 10px;
    text-transform: none;
  }

  .select--field {
    width: 30%;
    position: relative;
    display: inline-block;
    &.form-full-width {
      width: 100%;
      margin: 0.1%
    }
    select {
      width: 100%;
      background-image: none;
    }
    &:before {
      background: $ekRed;
      color: $white;
      position: absolute;
      right: -0.5625rem;
      top: 0.625rem;
      height: 2.2rem;
      width: 3rem;
      text-indent: 1.0625rem;
      line-height: 2.2rem;
      font-size: 0.4375rem;
      font-weight: lighter;
      pointer-events: none;
    }

    &:after {
      content: '';
      clear: both;
    }
  }
}

.input-field {
  position: absolute;
  top: 3.58rem;
  right: 25.4rem;
  width: 3em;
  height: 2.2rem;
  background: #ED3426;
  color: white;
  line-height: 2.3em;
  text-indent: .4375em;
}

.form-register-box {
  width: 75%;
  margin-bottom: 35px;
  h3 {
    text-transform: none;
    font-weight: 600;
    margin: 5px 0 0;
  }
  .red {
    margin: 10px 0 0 calc(100% - 8.6rem);
  }
}

.form-event-single-page {
  width: 72%;
  height: 340px;
  margin-top: 20px;
}

.faq--search-bar {
  width: 66.1%;
  margin-right: 11px;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: -2px;
    width:300px;
    background-color: $ekGreen;
    color:$white;

  }

@media only screen and (max-width: 1280px) {

  form h3 {
    margin: .1px;
  }

  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: -2px;
    width:300px;
    background-color: $ekGreen;
    color:$white;

  }
}

@media only screen and (max-width: 1024px) {
  .faq--search-bar {
    width: 90%;
    margin: 0 3%;
  }

  form .select--field select {
    width: 93%;
    background-image: none;
    margin-left: 20px;

  }
  form.innovation-form .select--field.align-items:before {
    right: 5em;
  }
  form.innovation-form .innovation-textarea {
    width: 95%;
    margin-left: 20px;
  }

  form input[type=text].form-full-width {
    width: 95%;
    margin: 1% 0 0 22px;
  }

  form.innovation-form .innovation-checkbox {
    width: 30px;
    height: 30px;
    min-height: 0;
    margin-left: 30px;
  }
  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: 30px;
    width: 300px;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 956px) {
  .faq--search-bar {
    width: 90%;
    margin: 0 3%;
  }

  form input[type=text].form-full-width {
    width: 95%;
    margin: 1% 0 0 20px;
  }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  form button[type="submit"]{
    width: 220px;

  }
  .form-event-single-page{
    width: 100%;
  }
  form button[type=filter] {
    margin-left: calc(64% - .2rem)
  }
  form .select--field {
    width: 40%;
    margin-left: 10px
  }
  form .select--field:before {
    right: -1rem;
  }
  form textarea {
    width: 100%;
  }

  form input[type=text].form-full-width {
    width: 83%;
    margin-left: 70px;
  }

  form.innovation-form .innovation-textarea {
    width: 83%;
    margin-left: 70px;
  }

  form.innovation-form .select--field.align-items:before {
    right: 0;
    z-index: 1;
  }

  form.innovation-form {
    margin: 2% -5%;
  }

  form .select--field.form-full-width {
    width: 87%;
    margin-left: 40px;
  }
  p {
    line-height: 1.6em;
    text-align: left;
    padding: 30px;
  }
  form .select--field select {
    width: 95%;
    background-image: none;
    margin-left: 30px;
  }

  form.innovation-form .innovation-checkbox {
    width: 30px;
    height: 30px;
    min-height: 0;
    margin-left: 70px;
  }
  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: 70px;
    width: 300px;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
  }
  .form-event-single-page {
    height: 210px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 414px) {
  form .select--field {
    width: 93%;
    margin-left: -20px
  }
  form .select--field:before {
    right: -1.2rem;
  }

  .form-event-single-page {
    width: 360px;
  }
  form {
    button[type="submit"] {
      float: none;
    }
  }
  form h3 {
    margin: 10px 18px;
  }
  form .select--field.form-full-width {
    width: 93%;
    margin: 10px 0 -50px -0.11px;
  }
  form .select--field select {
    width: 97%;
    margin: 10px 0 50px 30px;
  }

  form.innovation-form .innovation-checkbox {
    margin-left: 30px;
  }
  [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: 35px;
    width: 84%;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
  }

  form input[type=text].form-full-width {
    width: 90%;
    margin-left: 30px;
  }
  p {
    line-height: 1.6em;
    text-align: left;
    padding: 15px;
    width: 95%;
  }
  form.innovation-form .innovation-textarea {
    width: 90%;
    margin-left: 30px;
  }
  form.innovation-form .select--field.align-items:before {
    right: -2.4em;
    z-index: 1;
  }
}

@media only screen and (min-width: 400px) and (max-width: 412px) {
  .form-event-single-page {
    width: 360px;
  }
  form .select--field {
    width: 90%;
    margin-left: -10px
  }

  p {
    line-height: 1.6em;
    text-align: left;

    margin-bottom: -8%;
  }
  form h3 {
    margin: 10px 19px;
  }
  form.innovation-form {
    margin: 10% 0 0 -2%;
  }

  form.innovation-form .select--field.align-items:before {
    right: 0;
  }
  form input[type=text].form-full-width {
    width: 90%;
    margin-left: 20px;
  }
  form.innovation-form .innovation-textarea {
    width: 90%;
    margin: 10px 0 15px 20px;
  }
  form.innovation-form .innovation-checkbox {
    width: 30px;
    height: 30px;
    margin: 20px;
    min-height: 0;
  }
  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: 20px;
    width: 94%;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
    margin-top: -15px;
  }
  form .select--field.form-full-width {
    width: 95%;
  }
  form .select--field select {
    width: 95%;
    background-image: none;
    margin: 10px 0 50px 20px;
  }
}

@media only screen and (max-width: 384px) {
  //Google Nexus 4
  .form-event-single-page {
    width: 341px;
  }
  form h3 {
    margin: 10px 16px;
  }
}

@media only screen and (max-width: 375px) {
  .form-event-single-page {
    width: 332px;
  }
  form .select--field.form-full-width {
    width: 93%;
    margin: .1% 0 0 2px;
  }
  form.innovation-form .select--field.align-items:before {
    right: -2em;
  }
  form .select--field select {

    width: 95%;
    background-image: none;
    margin-left: 30px;
  }
  form.innovation-form .innovation-checkbox {
    margin-left: 30px;
  }

  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-left: 30px;
    width: 85%;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 360px) {
  form .select--field{
    width: 86%;
    margin: 4px;
  }
  .form-event-single-page {
    width: 320px;
    height: 230px;
  }
  form h3 {
    margin: 10px 20px;
  }

  .block-title {
    width: 90%;
    margin: 20px 20px;
  }

  .form-event-single-page {
    height: 216px;
  }

  form .select--field select {
    width: 90%;
    background-image: none;
    margin-left: 6px;
  }
  form .select--field.form-full-width {
    width: 100%;
    margin: 0%;
  }
  form.innovation-form .innovation-textarea {
    width: 94%;
    margin: 8px 0 0 5px;

  }
  form.innovation-form .innovation-checkbox {
    width: 30px;
    height: 30px;
    min-height: 0;
    margin-left: 5px;
  }
  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    width: 91%;
    margin: -10px 1px 2px 2px;
  }
  form.innovation-form {
    width: 100%;
    margin: 10% 6% 0 1%;
  }
  form input[type=text].form-full-width {
    width: 94%;
    margin: 5px 0 0 5px;
  }
  form.innovation-form .select--field.align-items:before {
    top: 1.4em;
    right: 5%;
    z-index: 0;
    background: #28AE4E;
    pointer-events: none;
  }
}

@media only screen and (max-width: 320px) {
  form .select--field{
    width: 91%;
    margin-left: -13px;
  }
  .form-event-single-page {
    width: 360px;
  }
  form .select--field select {
    width: 85%;
    background-image: none;
    margin-left: 23px;
  }
  form.innovation-form .select--field.align-items:before {
    right: 0;
    z-index: 1;
  }
  form .select--field.form-full-width {
    width: 103%;
    margin-left: -20px;
  }
  form h3 {
    margin: 10px 15px;
  }

  .form-event-single-page {
    width: 280px;
  }
  [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    margin-top: -12px;
    width: 89%;
    background-color: #28AE4E;
    color: #fff;
    font-weight: bolder;
    margin-left:2px;
  }

  form input[type=text].form-full-width {
    width: 96%;

  }

  form.innovation-form .innovation-textarea {
    width: 96%;

  }
  form.innovation-form .innovation-checkbox {

    margin-left: 5px;
  }
}
