.pagination {
  display: inline-block;
  padding: 0;
  height: 4px;
  margin: 5px 0 40px;
  float: right;
  li {
    display: inline;
    background-color: $grey;
    margin: 0 0 0 30px;
    padding: 0;
    a {
      color: $darkGrey;
      float: left;
      padding: 8px 12px;
      text-decoration: none;
      font-size: 12px;
      :active {
        color: $white;
        background-color: $ekGreen;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    margin-right: 40px;
  }
}

@media screen and (max-width: 415px) {
  .pagination {
    margin-right: 2%;
  }
}

@media screen and (max-width: 377px) {
  .wp-pagenavi a, .wp-pagenavi span {
    margin: 13px;
  }
}

@media screen and (max-width: 375px) {
  .pagination {
    margin-right: 2.2%;
  }
  .wp-pagenavi span {
    margin: 4px 1px auto;
    padding: 4px 8px auto;
  }
}

@media screen and (max-width: 360px) {
  .pagination a {
    margin-right: 1px;
    float: none;
  }
}

@media screen and (max-width: 320px) {
  .wp-pagenavi span {
    margin: 2px 6px auto;
    padding: 4px 7px auto;
  }
}